<!DOCTYPE html>
<html lang="en">
<head>
    <title>Todo Lists</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ todo_list_detail.name }}</h1>
            <p>
                <a href="{% url "update_todo" todo_list_detail.id %}">Edit</a>
            </p>
            <p>
                <a href="{% url "delete_model_name" todo_list_detail.id %}">Delete</a>
            </p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Tasks</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in todo_list_detail.items.all %}
                    <tr>
                            <td><a href="{% url "edit_item" task.id %}">{{ task.task }}</a></td>
                        <td>{{ task.due_date }}</td>
                    </tr>
                    {% endfor %}
            </table>
        </div>
    </main>

</body>
</html>
